<ion-view cache-view="false" view-title="Agendamentos Realizados">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="agendamento in agendamentos" ng-class="{'falha': agendamento.confirmado == 'false'}">
        <ion-option-button ng-hide="agendamento.confirmado == 'true'"
                           ng-click="reenviar(agendamento)" class="button-positive">Reenviar</ion-option-button>
        {{agendamento.modelo}} - {{agendamento.preco | finance:true:2}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
